<div class="container">
  <select
    class="form-select form-select-lg mt-5 mb-3"
  >
    <option value="" selected>全類別</option>
    {{#each categories}}
        <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
    
  </select>

  {{!Total amount}}
  <div class="total-amount d-flex justify-content-center">
    <h3>總金額：</h3>
    <div class="amount">
      ${{formatCurrency totalAmount}}
      元
    </div>
  </div>

  {{! AJAX list panel }}
  <div class="list-container">
    <ul class="list-group">
      {{#each records}}
        <li
          class="list-group-item d-flex justify-content-between align-items-center mb-3"
        >

          <div class="d-flex align-items-center list-head">
            <i
              class="{{getIcon ../categories this}} icon"
              style="user-select: auto;"
            ></i>
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{this.name}}</div>
              {{formatDate this.date}}
            </div>
          </div>
          
{{!-- Receipt Modal --}}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{this.name}}Modal">
  收據
</button>

<!-- Modal -->
<div class="modal fade" id="{{this.name}}Modal" tabindex="-1" aria-labelledby="{{this.name}}ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{this.name}}ModalLabel">收據</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{{this.receipt}}" alt="" width="300px" height="auto">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

          <div class="balance">
            ${{formatCurrency this.amount}}
            元
          </div>
          <div class="icon d-flex">
            <a href="/record/{{this._id}}/edit" class="me-3"><i
                class="fas fa-edit"
              ></i></a>
            <form action="/record/{{this._id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn align-self-center"><i
                  class="fas fa-trash-alt"
                ></i></button>
            </form>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto mt-3">
    <a href="/record/new" class="btn">新增記帳</a>
  </div>
</div>